
@{
    ViewBag.Title = "EventsList";
    Layout = "~/Areas/Leader/Views/Shared/_LeaderLayout.cshtml";
}



<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/SweetAlert/sweetalert.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
      .ListBtn {
        font-size: 10px !important;
        padding: 5px 8px !important;
        border: 1px solid lightgray !important;
    }
    tr td {
        padding: 4px !important;
        font-weight: 600;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgba(233, 236, 239, 0.3) !important;
    }

    .table-wrap::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .table-wrap::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        background-color: #F5F5F5;
    }

    .table-wrap::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 10px;
    }



    /*table first column fixed*/
    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid lightgray;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll th {
        background-color: rgba(233, 236, 239, 1) !important;
    }
</style>





<div id="content" class="content">
    <!-- begin breadcrumb -->
    @*<ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="#" onclick="location.href='@Url.Action("Dashboard","Leader")'">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#" onclick="location.href='@Url.Action("CreateEvent","CreateEvent")'">Create Event</a></li>
        @*<li class="breadcrumb-item"><a href="javascript:;">Individuals</a></li>
            <li class="breadcrumb-item active">Individuals List</li>
    </ol>*@

    @*<h1 class="page-header">Prayer Requests</h1>*@<br /><br />
    <br /><br />
    <div class="row">

        <div class="col-md-12" style="overflow:auto">
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <h4 class="panel-title">Event List</h4>

                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN table-responsive -->
                            <div class="table-scroll div1">
                                <div class="table-wrap">
                                    <table class="table table-bordered align-middle TablePage" id="tblEventList" style="width: 100%;">
                                        <thead>
                                            <tr>  
                                                <th hidden>req id</th>                                           
                                                <th class="text-center">Update</th>    
                                                <th class="text-center">Delete</th>                                              
                                                <th>Event Date</th>
                                                @*<th>Event Note</th>*@                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in ViewBag.EventsList)
                                            {
                                                <tr>  
                                                    <td hidden>@item.FId</td>                                             
                                                    @*<td><center><a href="#" id="active" onclick="UserNamePass('@item.FId','@item.ChurchFId')"><i class="far fa-lg fa-fw m-r-10 fa-edit"></i></a></center></td>*@
                                                    <td class="text-center">
                                                        <button type="button" onclick="updateEvent('@item.FId','@item.ChurchFId')" id="btnDelete"
                                                                class="btn btn-success ListBtn btnpress">
                                                            <i class='fas fa-pencil-alt'></i>
                                                        </button>
                                                    </td>  
                                                     <td class="text-center">
                                                        <button type="button" onclick="DeleteEvent('@item.FId','@item.ChurchFId')" id="btnDelete"
                                                                class="btn btn-danger ListBtn btnpress">
                                                            <i class='fas fa-trash-alt'></i>
                                                        </button>
                                                    </td>                                    
                                               
                                                    <td>@Convert.ToDateTime(item.FDate).ToString("dd/MMM/yyyy")</td> 
                                                    @*<td>@Html.Raw(@item.EventNote)</td>*@                                                  
                                                </tr>                                             
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel-body -->
            </div>
        </div>
        <!-- end col-10 -->       
    </div>
    <!-- end row -->
</div>

<script>
    $(document).ready(function () {

        var Message=@(Html.Raw(Json.Encode(TempData["Message"])));
        var Icon=@(Html.Raw(Json.Encode(TempData["Icon"])));
        if (Message!=null) {
            //swal("",Message,Icon);
            Swal.fire({
                title: '',
                text: Message,
                icon: Icon,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Ok'
            });
        }



        $("#ModelBtnClose").click(function()
        {
            debugger;
            $("#modal-alert").hide();
        })


    });//Ready

    function updateEvent(FId,ChurchFId) {
        debugger;
        @*var url = '@Url.Action("UpdateEvent", "CreateEvent")'+'?FID=' + FID +'&ChurchFId='+ChurchFId;*@
        var url = '@Url.Action("UpdateEvent", "CreateEvent")'+ '?FId=' + FId + '&ChurchFId=' + ChurchFId;
        window.location.href = url;
    }

    function DeleteEvent(FId,ChurchFId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You want to Delete!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, continue!'
        }).then((result) => {
            if (result.isConfirmed) {

                @*var url = '@Url.Action("DeletePrayerRequest", "PrayerRequest")?FId=' + FId;*@
                var url = '@Url.Action("DeleteEvent", "CreateEvent")'+ '?FId=' + FId + '&ChurchFId=' + ChurchFId;
                window.location.href = url;
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                console.log('User clicked cancel or closed the modal');
            }
        });
    }

</script>



