
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
    @@media (min-width: 1200px) {
        .col-xl-3 {
            flex: 0 0 25%;
            max-width: 20%;
        }
    }
</style>

@*<div id="content" class="content">
    <!-- begin breadcrumb -->  
    <h1 class="page-header"></h1>
    <div class="row" style="margin-top:30px;">    
        <div class="col-xl-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-validation-2">
                <!-- begin panel-heading -->
                <div class="panel-heading">                 
                </div>             

                <div class="panel-body">
                    <div class="row">                    

                        <div class="col-xl-3 col-md-6">
                            <div class="widget widget-stats bg-blue">
                                <div class="stats-icon"><i class="fa fa-cross"></i></div>
                                <div class="stats-info">
                                    <h4>Pending  Request</h4>
                                    <p>@TempData["PrayerRequestCount"]</p>
                                </div>
                                <div class="stats-link">
                                    <a href="javascript:;" onclick="location.href='@Url.Action("PendingPrayerRequest","PendingPrayerRequest",new { area = "Admin" })'">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="widget widget-stats bg-info">
                                <div class="stats-icon"><i class="fa fa-circle-question"></i></div>
                                <div class="stats-info">
                                    <h4>Pending Inqury</h4>
                                    <p>@TempData["TotalEnquiryList"]</p>
                                </div>
                                <div class="stats-link">
                                    <a href="javascript:;" onclick="location.href='@Url.Action("EnquiryList","EnquiryList",new { area = "Admin" })'">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="widget widget-stats bg-orange">
                                <div class="stats-icon"><i class="fa fa-address-card"></i></div>
                                <div class="stats-info">
                                    <h4> Registration Request</h4>
                                    <p>@TempData["GetResitrationRequestCount"]</p>
                                </div>
                                <div class="stats-link">
                                    <a href="javascript:;" onclick="location.href='@Url.Action("RegistrationRequstList","RegistrationRequstList",new { area = "Admin" })'">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="widget widget-stats" style="background-color:#009688">
                                <div class="stats-icon"><i class="fa fa-users"></i></div>
                                <div class="stats-info">
                                    <h4>Total Members</h4>
                                    <p>@TempData["TotalMeberList"]</p>
                                </div>
                                <div class="stats-link">
                                    <a href="javascript:;" onclick="location.href='@Url.Action("ChurchMemberList","ChurchMemberList",new { area = "Admin" })'">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                                </div>
                            </div>
                        </div>                  
                        <div class="col-xl-3 col-md-6">
                            <div class="widget widget-stats" style="background-color:#b53b64">
                                <div class="stats-icon"><i class="fa fa-users"></i></div>
                                <div class="stats-info">
                                    <h4>Meal Attendance</h4>
                                    @if (TempData["MealAttendance "] == null)
                                    {
                                        <p>0</p>
                                    }
                                    else
                                    {
                                        <p>@TempData["MealAttendance "]</p>
                                    }

                                </div>
                                <div class="stats-link">
                                    <a href="javascript:;" onclick="location.href='#'">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@*<script>
    $(document).ready(function () {
        debugger;      

        var Message=@(Html.Raw(Json.Encode(TempData["Message"])));
        var Icon=@(Html.Raw(Json.Encode(TempData["Icon"])));
        if (Message!=null) {
            Swal.fire({
                title: '',
                text: Message,
                icon: Icon,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Ok'
            })           
        }

    });
</script>*@

