@model Church.Models.MAS_INDVSL

@{
    ViewBag.Title = "ChurchMemberDetails";
    Layout = "~/Areas/Leader/Views/Shared/_LeaderLayout.cshtml";
    var item = ViewBag.MemberDetails;
}
@using System.Drawing
@using System.IO
@using System.Globalization

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/plugins/jquery-migrate/dist/jquery-migrate.js"></script>
@*<script src="~/assets/js/app.min.js"></script>*@
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/SweetAlert/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




<div id="content" class="content">
    <!-- begin breadcrumb -->
    @*<ol class="breadcrumb float-xl-right">
            <li class="breadcrumb-item"><a href="#" onclick="location.href='@Url.Action("Dashboard","Leader",new { area = "Leader" })'">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#" onclick="location.href='@Url.Action("MemberList","LeaderDashboard",new { area = "Leader" })'">MembersList</a></li>

        </ol>*@
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    @*<h1 class="page-header">Member Details</h1>*@
    <!-- end page-header -->
    <!-- begin row -->

    <div class="row">
        <!-- BEGIN col-8 -->
        <div class="col-xl-8">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Member Details</h4>
                    @*<div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-arrow-left"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>*@
                </div>
                <!-- BEGIN table-responsive -->
                <div class="table-responsive">
                    <table id="user" class="table table-bordered table-panel mb-0">
                        <thead>
                            <tr>

                                @*<th width="20%">Field Name</th>
                                <th width="40%">Field Value</th>
                                <th width="40%">Profile</th>*@

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @{
                                    if(item.IND_Image!=null)
                                    {
                                        var fullPath1 = item.IND_Image;
                                        if (fullPath1 != null)
                                        {
                                            if (!Directory.Exists(fullPath1))
                                            {

                                                try
                                                {                                                    
                                                    string fileName = Path.GetFileName(fullPath1);
                                                    string baseUrl = @ViewBag.MemberProfileUrl;
                                                    string relativePath = fullPath1.Replace("C:\\", "").Replace("\\", "/");
                                                    string finalImageUrl = baseUrl + relativePath;
                                                    ViewBag.imageurl = finalImageUrl;                                              
                                                }
                                                catch(Exception ex)
                                                {
                                                    ViewBag.imageurl = "";
                                                }

                                            }
                                        }
                                    }else
                                    {
                                        ViewBag.imageurl = "";
                                    }
                                }
                                <td class="bg-light" width="180px;">Profile</td>                                
                                <td width="180px;">
                                    <div style="width: 180px; height: 180px; border-radius: 50%; overflow: hidden; display: inline-block;">
                                        @if (ViewBag.imageurl == "")
                                        {
                                            if (@item.Gender == "female")
                                            {                                          
                                                <img src="~/Content/Images/FemaleDemi.jpg" style="height: 100%; width: auto; display: block; margin: 0 auto;">
                                            }
                                            else
                                            {
                                                <img src="~/Content/Images/DemoProfile (2).jpg" style="height: 100%; width: auto; display: block; margin: 0 auto;">
                                            }
                                        }
                                        else
                                        {
                                            <img src="@ViewBag.imageurl" style="height: 100%; width: auto; display: block; margin: 0 auto;">
                                        }                                                                  
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="bg-light" width="180px;">Member Name</td>
                                <td width="180px;">
                                    <input type="hidden" id="memberId" value="@item.FID" />
                                    <a href="javascript:;" id="username" data-type="text" data-pk="UserName" data-title="Enter Username">@item.IND_Name</a>
                                </td>
                                <td style="display: none;"><span class="text-black-lighter"></span></td>
                            </tr>
                            <tr>
                                <td class="bg-light">Contact No</td>
                                <td><a href="javascript:;" id="number" data-type="number" data-pk="contact" data-title="Enter Username">@item.IND_Mob</a></td>
                                <td style="display: none;"><span class="text-black-lighter"></span></td>
                            </tr>
                            <tr>
                                <td class="bg-light">Email Id</td>
                                <td><a href="javascript:;" id="emailId" data-type="text" data-pk="EmailId" data-title="Enter Username">@item.IND_Email </a></td>
                                <td style="display: none;"><span class="text-black-lighter"></span></td>
                            </tr>
                            <tr>
                                @{
                                    DateTime dateOfBirth = (DateTime)item.IND_DOB; // Assuming IND_DOB is already DateTime type
                                    string formattedDate = dateOfBirth.ToString("yyyy-MM-dd");                                
                                }
                                <td class="bg-light">Date of birth</td>
                                @*<td><a href="javascript:;" id="dob" data-type="combodate" data-value="@DateOfBirth" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="DateOfBirth" data-title="Select Date of birth"></a></td>*@
                                <td><a href="javascript:;" id="dob" data-type="combodate" data-value="@formattedDate" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="DateOfBirth" data-title="Select Date of birth"></a></td>

                                <td style="display: none;"><span class="text-black-lighter"> </span></td>
                            </tr>
                            <tr>
                                <td class="bg-light">Gender</td>
                                <td><a href="javascript:;" id="sex" data-type="select" data-pk="Gender" data-value="@item.Gender" data-title="Select sex">@item.Gender</a></td>
                                <td style="display: none;"><span class="text-black-lighter"></span></td>
                            </tr>
                            @*<tr>
                                <td class="bg-light">Aadhar No</td>
                                <td><a href="javascript:;" id="AdharNo" data-type="number" data-pk="AadharNo" data-title="Enter Username">@item.AdharNo </a></td>
                                <td style="display: none;"><span class="text-black-lighter"> </span></td>
                            </tr>*@

                            <tr>
                                <td class="bg-light">Address</td>
                                <td><a href="javascript:;" id="Address" data-type="text" data-pk="Address" data-title="Enter Username">@item.IND_Address </a></td>
                                <td style="display: none;"><span class="text-black-lighter"> </span></td>
                            </tr>
                            <tr>
                                <td class="bg-light">UserId</td>
                                <td><a href="javascript:;" id="UserId" data-type="text" data-pk="1" data-title="Enter Username">@ViewBag.UserId</a></td>
                                <td style="display: none;"><span class="text-black-lighter"></span></td>
                            </tr>
                            <tr>
                                <td class="bg-light">Password</td>
                                <td><a href="javascript:;" id="Password" data-type="text" data-pk="1" data-title="Enter Username">@ViewBag.UserPass</a></td>
                                <td style="display: none;"><span class="text-black-lighter"></span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive -->
                <!-- BEGIN hljs-wrapper -->
                <!-- END hljs-wrapper -->
            </div>
            <!-- END panel -->
        </div>
        <!-- END col-8 -->
        <!-- BEGIN col-4 -->

        <div class="col-xl-4">
            <div class="alert alert-yellow alert-dismissible fade show">
                <div class="fs-14px"><i class="fa fa-info-circle"></i> <b> Pending  Request</b></div>
                <hr />
                <div>
                    <b>@item.IND_Name</b> has made <b>@ViewBag.MemberPendingPrayerRequest</b> Prayer Request<br />
                    <a href="#" onclick="location.href='@Url.Action("MemberTotalPrayerRequest", "MemberTotalPrayerRequest", new { area = "Leader", id = @item.FID })'">Click here to see Prayer Request </a>
                </div>
                <br />
                <div>
                   <b>@item.IND_Name</b> has  <b>@ViewBag.MemberPendingEnquiryRequest</b> Pending Inquiry<br />
                    <a href="#" onclick="location.href='@Url.Action("MemberPendingEnquiry", "MemberPendingEnquiry", new { area = "Leader", id = @item.FID,ChurchFid=@item.MAS_CHC_FID })'">Click here to see Inquiry </a>
                </div>
            </div>
            @*@<h4 class="mb-15px"><b>Donation</b><br /><small></small></h4>*@
            @*<div class="alert alert-yellow alert-dismissible fade show">
               <b>@item.IND_Name</b>  has made <b>@ViewBag.Donation </b>donation attachment<br />
                <a href="#" onclick="location.href='@Url.Action("DonationList", "Donation", new { area = "Leader", MemberFid = @item.FID })'">Click here to verify</a>
            </div>*@
        </div>
        <!-- END col-4 -->
    </div>
</div>


<link href="~/assets/plugins/x-editable-bs4/dist/bootstrap4-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<link href="~/assets/plugins/x-editable-bs4/dist/inputs-ext/address/address.css" rel="stylesheet"/>
<link href="~/assets/plugins/x-editable-bs4/dist/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet"/>
<link href="~/assets/plugins/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
<link href="~/assets/plugins/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css" rel="stylesheet"/>
<link href="~/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
<link href="~/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
<link href="~/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet"/>
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet"/>


<script src="~/assets/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="~/assets/plugins/x-editable-bs4/dist/bootstrap4-editable/js/bootstrap-editable.min.js"></script>
<script src="~/assets/plugins/x-editable-bs4/dist/inputs-ext/address/address.js"></script>
<script src="~/assets/plugins/x-editable-bs4/dist/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
<script src="~/assets/plugins/x-editable-bs4/dist/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
<script src="~/assets/plugins/x-editable-bs4/dist/inputs-ext/wysihtml5/wysihtml5.js"></script>
<script src="~/assets/plugins/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>
<script src="~/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/plugins/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/plugins/select2/dist/js/select2.full.min.js"></script>
<script src="~/assets/plugins/jquery-mockjax/dist/jquery.mockjax.min.js"></script>
<script src="~/assets/plugins/moment/min/moment.min.js"></script>

<!-- html -->

<script>

    $(document).ready(function () {
        debugger;
        var Message=@(Html.Raw(Json.Encode(TempData["Message"])));
        var Icon=@(Html.Raw(Json.Encode(TempData["Icon"])));
        if (Message!=null) {
            //swal("",Message,Icon);
            Swal.fire({
                title: '',
                text: Message,
                icon: Icon,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Ok'
            });
        }

    });
</script>

<script>

    var sexOptions = [
           { value: 'male', text: 'Male' },
           { value: 'female', text: 'Female' },
           { value: 'other', text: 'Other' }
           // Add more options as needed
    ];

    $.fn.editable.defaults.mode = 'inline';
    $.fn.editable.defaults.inputclass = 'form-control input-sm';
    //$.fn.editable.defaults.url = '/post';


    // Initialize each editable field
    $('#username').editable({
        type: 'text',
        url: '/ChurchMemberDetails/UpdateMemberDetails',
        pk: "UserName",
        title: 'Enter Username',
        params: function (params) {
            // Include additional parameters (memberId) in the request
            params.memberId = $('#memberId').val();
            return params;
        },
    });

    $('#number').editable({
        type: 'number',
        url: '/ChurchMemberDetails/UpdateMemberDetails',
        pk: "contact",
        title: 'Enter your Firstname',
        params: function (params) {
            params.memberId = $('#memberId').val();
            return params;
        },
    });

    $('#emailId').editable({
        type: 'text',
        url: '/ChurchMemberDetails/UpdateMemberDetails',
        pk: "EmailId",
        title: 'Enter your Firstname',
        params: function (params) {
            params.memberId = $('#memberId').val();
            return params;
        },
    });

    $('#dob').editable({
        type: 'combodate',
        url: '/ChurchMemberDetails/UpdateMemberDetails',
        pk: "DateOfBirth",
        title: 'Enter your Firstname',
        format: 'YYYY-MM-DD', // Format of date sent to server
        viewformat: 'DD/MM/YYYY',
        template: 'D / MMM / YYYY',
        params: function (params) {
            params.memberId = $('#memberId').val();
            return params;
        },
    });
    $('#sex').editable({
        type: 'select',
        url: '/ChurchMemberDetails/UpdateMemberDetails',
        pk: "Gender",
        title: 'Select sex',
        source: sexOptions,
        params: function (params) {
            params.memberId = $('#memberId').val();
            return params;
        },
    });


    //$('#AdharNo').editable({
    //    type: 'number',
    //    url: '/ChurchMemberDetails/UpdateMemberDetails',
    //    pk: "AadharNo",
    //    title: 'Enter Adhar No',
    //    validate: function (value) {
    //        // Custom validation function to check if value is exactly 12 digits
    //        if ($.trim(value).length != 12 || isNaN(value)) {
    //            return 'Please enter a valid 12-digit number.';
    //        }
    //    },
    //    params: function (params) {
    //        params.memberId = $('#memberId').val();
    //        return params;
    //    },
    //});

    // Initialize each editable field
    $('#Address').editable({
        type: 'text',
        url: '/ChurchMemberDetails/UpdateMemberDetails',
        pk: "Address",
        title: 'Enter Username',
        params: function (params) {
            params.memberId = $('#memberId').val();
            return params;
        },
    });


</script>
