@model Church.Models.Mas_Notice

@{
    ViewBag.Title = "NoticeUpdate";
    Layout = "~/Areas/Leader/Views/Shared/_LeaderLayout.cshtml";
}

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/assets/bower_components/moment/moment.js"></script>
<script src="~/assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="~/SweetAlert/sweetalert.min.js"></script>

@*<script src="~/assets/plugins/ckeditor/ckeditor.js"></script>*@
<link href="~/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />

<script src="~/assets/plugins/summernote/dist/summernote-lite.min.js"></script>
<style>
    .note-editor .note-toolbar {
        background: #eee;
    }

    .red {
        color: red;
    }

    #loading {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
        z-index: 1000;
    }

    #loadingcontent {
        display: table;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #loadingspinner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        font-size: larger;
        padding-top: 80px;
    }

    .color {
        color: red;
    }

    .table-responsive {
        display: block;
        width: 90%;
        overflow-x: auto;
        margin-left: 0%;
        -webkit-overflow-scrolling: touch;
    }

    .Error {
        color: red;
    }
</style>

<div id="content" class="content">
    <!-- begin breadcrumb -->
    @*<ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="#" onclick="location.href='@Url.Action("Dashboard","Leader",new { area = "Leader" })'">Dashboard</a></li>
    </ol>*@
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    @*<h1 class="page-header" style="margin-left:15px;">Notice Creation</h1>*@
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
       
        <!-- begin col-6 -->
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-xl-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-validation-2">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <h4 class="panel-title">Notice Creation</h4>

                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->

                <div class="panel-body">
                    <form action="/Leader/NoticeUpdate/SaveUpdateNotice" id="NoticeUpdate" method="post" data-parsley-validate="true" enctype="multipart/form-data">

                        @Html.HiddenFor(m => m.FId)
                        @Html.HiddenFor(m => m.CurchId)
                        <div class="form-group row m-b-15">
                            <label class="col-md-2 col-sm-4 col-form-label" for="website" style="text-align:left">Notice Date :<span style="color:red">*</span></label>
                            <div class="col-md-9 col-sm-8">
                                @Html.TextBoxFor(m => m.NoticeDate, "{0:yyyy-MM-dd}", new { @class = "form-control", id = "NoticeDate", type = "date", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-2 col-sm-4 col-form-label" for="website" style="text-align:left">Subject :<span style="color:red">*</span></label>
                            <div class="col-md-9 col-sm-8">
                                @Html.TextBoxFor(m => m.NoticeSubject, new { @class = "form-control", id = "NoticeSubject", placeholder = "Enter Title Of Notice", @required = "required", @autocomplete = "off" })
                            </div>
                        </div>
                        @*<div class="form-group row m-b-15">
                                <label class="col-md-2 col-sm-4 col-form-label" for="website" style="text-align:left">Description :<span style="color:red">*</span></label>
                                <div class="col-md-9 col-sm-8">

                                    @Html.TextAreaFor(m => m.NoticeDescription, new { @class="form-control", id = "NoticeDescription", placeholder = "Enter Description....", @required = "required", rows = "10" })
                                </div>
                            </div>*@
                        <div class="form-group row m-b-15">
                            <label class="col-md-2 col-sm-4 col-form-label" for="website" style="text-align:left">Description :<span style="color:red">*</span></label>
                            <div class="col-md-9 col-sm-8">
                                @Html.TextArea("NoticeDescription", new { @class = "summernote", style = "border: 1px solid #000;", id = "Remark", @required = "required", @placeholder = "Notice Description....", autocomplete = "Off", contenteditable = "true" })
                                @*@Html.TextAreaFor(m => m.NoticeDescription, new { @class = "ckeditor", id = "NoticeDescription", placeholder = "Enter Description....", @required = "required", rows = "10" })*@
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-2 col-sm-4 col-form-label" for="website" style="text-align:left">Notice Till Date :<span style="color:red">*</span></label>
                            <div class="col-md-9 col-sm-8">
                                @Html.TextBoxFor(m => m.NoticeDateValid, "{0:yyyy-MM-dd}", new { @class = "form-control", id = "NoticeDateValid", type = "date", @required = "required" })
                                <span id="ErrortxtFromDate" class="Error"></span>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" id="btnSave" class="btn btn-sm btn-primary btn-lg m-r-5">Update</button>
                        </div>
                    </form>
                </div>
            </div>           
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        debugger;
       
       
        var Message = @Html.Raw(Json.Encode(TempData["Message"]));
        var Icon = @Html.Raw(Json.Encode(TempData["Icon"]));
        debugger;
        if (Message != null) {
            if (Icon != null) {
                Swal.fire({
                    title: '',
                    text: Message,
                    icon: Icon,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Ok'
                });

            }
        }



        $("#NoticeDate, #NoticeDateValid").on("change", function () {
            debugger;
            var input = document.getElementById("NoticeDate").value;
            var input1 = document.getElementById("NoticeDateValid").value;
            //define two date object variables with dates inside it
            fromDateObj = new Date(input);
            toDateObj = new Date(input1);
            //calculate time difference
            var time_difference = toDateObj.getTime() - fromDateObj.getTime();
            //calculate days difference by dividing total milliseconds in a day
            var days_differences = time_difference / (1000 * 60 * 60 * 24);
            var days_difference = days_differences + 1;
            // Check if toDate is greater than fromDate
            var from = $("#NoticeDate").val();
            var to = $("#NoticeDateValid").val();
            if (Date.parse(to) < Date.parse(from)  ) {

                $("#ErrortxtFromDate").html("Notice Till Date should not be less than Notice  Date");
                return false;
            }
            else {
                $("#ErrortxtFromDate").html("");
            }
            if (days_difference > 31) {
                $("#ErrortxtFromDate").html("You should not allow greter than 31 days");
            }
        });


    });//Ready Function
</script>
<script>
    $(".summernote").summernote({
        placeholder: '',
        height: "300"
    });
</script>


